* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: calc(.9rem + .25vw);
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr 3rem;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.swiper-slide {
  grid-area: 1/1/2/4;
}

.swiper-button-prev {
  grid-area: 2/1/3/2;
  position: relative;
  align-self: start;
  justify-self: end;
  top: 60%;
}
.swiper-button-prev::after {
  padding-right: 3px;
}

.swiper-button-next {
  grid-area: 2/3/3/4;
  position: relative;
  align-self: start;
  justify-self: start;
  top: 60%;
}
.swiper-button-next::after {
  padding-left: 3px;
}

.swiper-pagination {
  grid-area: 2/2/3/3;
}

.swiper-button-next,
.swiper-button-prev {
  color: #439539;
  background-color: #F0F0F0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: calc(0.7rem + .25vw);
  font-weight: 700;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #A0D244;
  color: #F0F0F0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #439539;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-fraction {
  font-weight: 300;
}

.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 45%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, #439539);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.numero {
  font-size: calc(4rem + .25vw);
  font-weight: 900;
  color: #439539;
  opacity: 0.15;
}

h1, h2 {
  font-size: calc(1.5rem + .25vw);
  font-weight: 700;
  color: #2c2c2c;
}
@media screen and (min-width: 500px) {
  h1, h2 {
    font-size: calc(2.15rem + .25vw);
    font-weight: 700;
    color: #2c2c2c;
  }
}
@media screen and (min-width: 800px) {
  h1, h2 {
    font-size: calc(3rem + .25vw);
    font-weight: 700;
    color: #2c2c2c;
  }
}

h3 {
  font-size: calc(1.5rem + .25vw);
  font-weight: 700;
  color: #2c2c2c;
}

h4 {
  font-size: calc(.9rem + .25vw);
  font-weight: 700;
  color: #2c2c2c;
}

p,
ul,
li {
  font-size: calc(.9rem + .25vw);
  font-weight: 400;
  line-height: 1.5;
  color: #2c2c2c;
}

.nav__link {
  font-size: calc(.9rem + .25vw);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #2c2c2c;
}
@media screen and (min-width: 500px) {
  .nav__link {
    font-size: calc(1.5rem + .25vw);
    color: #2c2c2c;
  }
}
@media screen and (min-width: 800px) {
  .nav__link {
    font-size: calc(0.7rem + .25vw);
    color: #2c2c2c;
  }
}

.footer__nav--link {
  font-size: calc(0.7rem + .25vw);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 400;
  color: #2c2c2c;
}

span {
  font-weight: 300;
  color: #2c2c2c;
}

small {
  font-size: calc(0.5rem + .25vw);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #2c2c2c;
}

.swiper-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 3rem repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}
.swiper-slide > img {
  grid-area: 1/1/2/6;
  width: 100%;
  height: auto;
}
.swiper-slide > h3 {
  grid-area: 2/1/3/6;
  text-align: center;
  background-color: #F0F0F0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide > p {
  grid-area: 3/1/4/6;
  text-align: center;
  background-color: #F0F0F0;
  height: 3.5rem;
}
.swiper-slide > a {
  grid-area: 3/3/5/4;
  width: 100%;
}
.swiper-slide > a > img {
  width: 100%;
  height: auto;
  background-color: #439539;
  border-radius: 50%;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
