// Colores 
$color-primary: #439539;
$color-secondary: #A0D244;
$color-quaternary: #E4D301;
$color-dark: #2c2c2c;
$color-light: #F0F0F0;

// Tamaño de tipografía 
$font-size-xx-large: calc(4rem + .25vw);
$font-size-x-large: calc(3rem + .25vw);
$font-size-large: calc(2.15rem + .25vw);
$font-size-medium: calc(1.5rem + .25vw);
$font-size: calc(.9rem + .25vw);
$font-size-small: calc(0.7rem + .25vw);
$font-size-x-small: calc(0.6rem + .25vw);
$font-size-xx-small: calc(0.5rem + .25vw);